/.idea/.gitignore
/.idea/a-bot-report-generator.iml
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/res_file.csv
/res_file_Andrey.csv
/res_file_Sonya.csv
/.idea/vcs.xml
